<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Worldwide Trends</p>
		<a class="panel-block">
			#dolar
		</a>
		<a class="panel-block">
			#pazartesi
		</a>
		<a class="panel-block">
			#MalazgirtZaferi
		</a>
		<a class="panel-block">
			#TürkiyedeKadınOlmak
		</a>
		<a class="panel-block">
			#Sabancı Holding
		</a>
		<a class="panel-block">
			Trump Çin
		</a>
	</nav>
</div>